<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1 class="mb-0">
        <a href="{{ site.baseurl }}">
          <img class="mr-2 mb-0" src="/static/images/rounded_logo.png" alt="Made With ML logo">{{ site.title }}
        </a>
      </h1>
      <p class="lead">Applied ML &middot; MLOps &middot; Production</p>
      <p class="lead">Learn how and (more importantly) what should be <i>made with ML.</i></p>
    </div>

    <nav class="sidebar-nav">
      {% for item in site.data.navigation %}
        <a href="{{ item.url }}" class="sidebar-nav-item {% if page.url == item.url %}active{% endif %}">
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>

    <!-- Social -->
    <div class="mt-1 mb-0">
      <a href="https://twitter.com/madewithml" target="_blank"><i class="fab fa-twitter ai-color-gray mr-1"></i></a>
      <a href="https://www.linkedin.com/company/madewithml" target="_blank"><i class="fab fa-linkedin-in ai-color-gray mr-1"></i></a>
      <a href="https://www.youtube.com/madewithml?sub_confirmation=1" target="_blank"><i class="fab fa-youtube ai-color-gray mr-1"></i></a>
      <a href="https://github.com/madewithml" target="_blank"><i class="fab fa-github ai-color-gray mr-1"></i></a>
      <a href="mailto:hello@madewithml.com" target="_blank"><i class="fas fa-envelope ai-color-gray mr-1"></i></a>
    </div>
    <p style="font-size: 14px;"><a href="{{ site.signup_url }}" target="_blank">Sign up</a>
      for our newsletter.</p>

  </div>

  <div class="container sidebar-sticky d-none d-sm-block" style="position: absolute;">

    <div class="sidebar-author">
      <hr>
      <h1>
        <span style="color: #ffffff80;">by</span>
        <img class="mx-2" src="/static/images/goku_circle.png" alt="Goku Mohandas">Goku Mohandas
      </h1>
      </div>
      <div>
        <a href="https://goku.me/" target="_blank"><i class="fas fa-globe-americas ai-color-gray mr-1"></i></a>
        <a href="https://twitter.com/GokuMohandas" target="_blank"><i class="fab fa-twitter ai-color-gray mr-1"></i></a>
        <a href="https://www.linkedin.com/in/goku" target="_blank"><i class="fab fa-linkedin-in ai-color-gray mr-1"></i></a>
        <a href="https://github.com/GokuMohandas" target="_blank"><i class="fab fa-github ai-color-gray mr-1"></i></a>
        <a href="mailto:gokumd@gmail.com" target="_blank"><i class="fas fa-envelope ai-color-gray mr-1"></i></a>
      </div>

  </div>

</div>
