.ai-resources-table td {
  padding: 0.75rem;
}

.ai-resources-table tbody tr:nth-child(odd) td,
.ai-resources-table tbody tr:nth-child(odd) th {
  background-color: #fff;
}

@media (max-width: 480px) {
  .ai-resources-table tbody > tr td {
    display: inline-block;
    width: 100%;
  }
}

.ai-resource-img {
  width: 20rem;
  margin-bottom: 0rem !important;
}

.ai-resource-badge {
  display: inline;
  margin-bottom: 0rem !important;
  border-radius: 0rem !important;
}

.ai-color-primary {
  color: #467fcf;
}

.ai-color-primary:hover {
  color: #316cbe;
}

.ai-color-info {
  color: #45aaf2;
}

.ai-color-info:hover {
  color: #219af0;
}

.ai-color-purple {
  color: #9c66df;
}

.ai-color-purple:hover {
  color: #9458df;
}

.ai-color-pink {
  color: #F54EA2;
}

.ai-color-pink:hover {
  color: #f33996;
}

.ai-color-success {
  color: #5eba00;
}

.ai-color-success:hover {
  color: #4b9400;
}

.ai-color-light {
  color: #f8f9fa;
}

.ai-color-light:hover {
  color: #e2e6ea;
}

.ai-color-warning {
  color: #f1c40f;
}

.ai-color-warning:hover {
  color: #cea70c;
}

.ai-color-danger {
  color: #cd201f;
}

.ai-color-danger:hover {
  color: #ac1b1a;
}

.ai-color-orange {
  color: #fd9644;
}

.ai-color-orange:hover {
  color: #fd811e;
}

.ai-color-dark-orange {
  color: #e86a02;
}

.ai-color-dark-orange:hover {
  color: #c95b02;
}

.ai-color-blue2 {
  color: #82aae2;
}

.ai-color-blue2:hover {
  color: #6a9be0;
}

.ai-color-dark {
  color: #343a40;
}

.ai-color-dark:hover {
  color: #23272b;
}

.ai-color-gray {
  color: #868e96;
}

.ai-color-gray:hover {
  color: #70777e;
}

.ai-color-pink {
  color: #f66d9b;
}

.ai-color-pink:hover {
  color: #f66d9b;
}

.ai-color-youtube {
  color: #F40105;
}

.ai-color-youtube:hover {
  color: #cf0104;
}

.ai-btn-blue-gradient {
  background: linear-gradient(135deg, #45aaf2, #467fcf);
  border: none;
}

.ai-btn-blue-gradient:hover {
  background: linear-gradient(135deg, #2b9ff1, #2b6fce);
  border: none;
}

.ai-input-box {
  border-width: 0.05rem;
  -webkit-box-shadow: 0px 0px 0px #285d8b;
          box-shadow: 0px 0px 0px #285d8b;
  border-color: #cdd3d8;
  font-size: 0.85rem;
}

.ai-card img {
  margin-bottom: 0rem !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ai-card h5 {
  margin-top: 0rem !important;
}

.ai-card p {
  font-size: 0.9rem !important;
}

.ai-card .card-footer, .ai-card .card-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.ai-lesson-section-title {
  margin-bottom: 0rem;
}

figure {
  text-align: center;
}

.image > img {
  vertical-align: middle;
}

figcaption {
  font-size: 0.9rem;
}

.ai-center-all {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ai-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.ai-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */