---
layout: page
---

<a href="{{ page.image-credit }}" target="_blank">
  <img class="ai-resource-img" src="{{ page.image }}">
</a>
{{ page.topic-description }}

<h3>Overviews</h3>
<ul>
  {% for item in page.overviews %}
  <li><a href="{{ item.url }}" target="blank">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<h3>Tutorials</h3>
<ul>
  {% for item in page.tutorials %}
  <li><a href="{{ item.url }}" target="blank">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<h3>Libraries</h3>
<ul>
  {% for item in page.libraries %}
  <li><u><i>{{ item.title }}</i></u></li>
  <ul>
    {% for library in item.libraries %}
    <li><a href="https://github.com/{{ library.repo }}" target="blank">{{ library.title }}</a>:
      {{ library.description }}&nbsp;
      <a href="https://github.com/{{ library.repo }}" target="_blank">
        <img src="https://img.shields.io/github/stars/{{ library.repo }}.svg?label=&style=social"
          class="ai-resource-badge" alt="GitHub stars badge">
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>

<h3>Miscellaneous</h3>
<ul>
  {% for item in page.miscellaneous %}
  <li><a href="{{ item.url }}" target="blank">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<br>
<a href="{% link _resources/index.md %}" class="btn btn-sm btn-outline-secondary"><i
    class="fas fa-sm fa-arrow-left mr-1"></i>Return to resources</a>